@import "../../scss/layout-mixins";
@import "../../scss/text-mixins";
@import "../../scss/button-link-mixins";
@import "../../scss/a11y-mixins";

$root-class: "inline-hero";

.#{$root-class} {
  // max-width-section contains the background to the section max-width. Not necessary if your background is 100% width
  @include max-width-section();
  // standard section spacing - not always necessary, not always the best way to provide this (i.e. you might prefer a variable to use in padding or margin as necessary per design)
  @include section-bottom-spacing();

  // most designs won't use base-font-size for this, but here's an example of how you might dynamically build paddings and margins
  padding-top: $base-font-size * 2px;
  padding-bottom: $base-font-size * 2px;

  &__content {
    // this container() provides the max-width that constrains the content, as well as padding and margin needed for the rows and outside gutter
    @include container();

    position: relative;
    padding: 2 * $grid-gutter-width;
  }

  &__cover-image {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
  }

  &__image {
    flex: 0 0 100%;
  }

  &__image-screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
  }

  &__heading {
    @include heading-two();

    color: $white;
    text-align: center;
  }

  &__detail-row {
    // make-row provides the margin and padding necessary for a row
    @include make-row();
  }

  &__rich-p {
    @include body();

    color: white;
    text-align: center;
  }

  &__rich-b {
    font-weight: bold;
  }

  &__rich-i {
    font-style: italic;
  }

  &__rich-li {
    list-style-type: disc;
  }

  &__cta-container {
    display: flex;
    justify-content: space-around;
  }

  &__cta {
    // includes the mixin to make the __cta element use the global cta-button-primary styles
    @include cta-button-primary();

    display: inline-block;
  }
}
